@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$color-regular: #212529;
$color-black: #000;
$color-white: #fff;
$color-lightGrey: #eeeeee;
