@import '../../variables.scss';

.root {
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-200;
  margin-bottom: 2rem;

  &.isCentered {
    justify-content: center;
    margin-bottom: 0;

    .brand {
      font-size: 2rem;
    }
  }
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;

  a {
    color: $color-regular;

    &:hover {
      text-decoration: none;
    }
  }
}

.userName {
  margin-left: auto;
  margin-bottom: 0;
}

.organizationName {
  font-size: 1rem;
  margin-left: 3rem;
  margin-bottom: 0;
}
